
.add a{
    text-decoration: none;
    color:grey;
    padding: 10px;
}
.add li{
    list-style-type: none;
    float: right;
   font-weight: 500;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
    
}
.add #nav{
    display: none;
}
.add a:hover{
    border:2px solid black;
    padding: 10px;
    color: black;
    
}
.add a:active{
    background-color: rgb(59, 6, 59);
   padding: 10px;
   color:white;

}

a:visited{
    color:rgb(59, 6, 59);
}
.first{
    max-width: 100%;
    height: 600px;
    background-color:rgb(38, 20, 80);
  margin-bottom: 280px;
}
.side{
    color: white;
    float:left;
    max-width: 40%;
    padding-top: 90px;
    margin-left: 120px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 20pt;
    
}
#human{
   
    font-size: 5rem;
    font-weight: bolder;
    line-height: 48pt;
    padding-top: 20px;
    
    
}
.para1{
   padding-bottom: 20px;

    
}
.view{
    padding-right:20px;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    background-color: white;
  color:rgb(38, 20, 80); 
}
#link{
    padding:20px;
    margin-left: -20px;
}
.view{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.intro{
    max-width:60%;
    float: right;
   
}
.jpg{
    width:500px;
    margin-top: 120px;
    margin-right: 120px;
    position: relative;
    top:0;

}
#desktop{
    position: absolute;
    top:20;
    left: 990px;
    height: 480px;
    

}
#second{
    font-size: 4.5rem;
    margin-left: 120px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    margin-bottom: 150px;
}
.snappy{
    width: 35%;
    padding-right:10px;
}
.affordable{
    width: 35%;
    padding-right: 10px;
}
.people{
    width: 35%;
}
#snappy, #affordable, #people{
    font-family: initial;
    color: black;
    font-size: 1.5rem;
}
.works{
    display: flex;
    flex-direction: row;
    max-width: 85%;
    background-color:rgb(38, 20, 80);
    height: 220px;
   margin:auto;
   


}
.find{
 
justify-content: flex-start;
flex-grow: 3;
margin: auto auto auto 80px;
color:white;
font-weight: 600;
font-size: 3.5rem;
line-height: 42pt;


   
}
.howorks{
    flex-grow: 1;
    margin: auto;
   
   
    
}
.howorks a{
    text-decoration: none;
    background-color: white;
    color:rgb(38, 20, 80);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    margin-left: 240px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.worksh{
    padding-bottom: 150px;
}
footer{
    background-color: rgba(128, 128, 128, 0.1);
    padding-top: 100px;
    background-image: url(./designs/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;

}
.icons li{
    list-style-type: none;
}
.icons{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;

   
   
}
.insure{
    justify-content: flex-start;
    flex-grow: 4;
    margin-left: 100px;

}
.pinterest{
    justify-content: flex-end;
    flex-grow: 1;
    justify-items: space-between;
    margin-left: 280px;
}
    
.pinterest a{
    padding-left:10px;
    

}
a img:hover{
   background-color:black;
}
.footer{
    display: flex;
    flex-direction: row;
    padding-left:120px;
    padding-right: 120px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: grey;
   font-size:small;
   font-weight: bold;
   line-height: 22pt;
   justify-content: center;
   text-transform: uppercase;
   padding-top: 20px;
}
.footer li{
    list-style-type: none;
}
.footer a{
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
.company{
    width:25%;
}
.help{
    width:25%;   
}
.contact{
    width:25%;
}
.others{
    width:25%;
}
.company h3{
    margin-left:30px;

}
.jpg1{
    display: none;
}
.left3{
    display: none;
}
.side3{
    display:none;
}
.hr2{
    color:white; width:150px; float:left; line-break: 20px; margin-left: 120px;
    width:150px;
}
.svgmob{
    display:none;
}
.footer li a{
    color: gray;
}
@media only screen and (max-width:480px){
    body{
        max-width:100%;
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    }
    .header{
        padding-top: 10px;
       
    }
    .add{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .add li{
        display:none;
    }
    .add #nav{
        display: inline;
        
    }
    #nav .hamburger:active{
        border: none;
        padding:0;
    }
   
    .add img{
        padding-left: 20px;
    
    }
    .jpg{
        display: none;
    }
    .jpg1{
        display:inline;
    }
    .jpg1 img{
        display: block;
        width: 100%;
    }
    #hr{
        display: none;
    }
    .first{
        height:750px;
       
    }
    #human{
        text-align: center;
        max-width:100%;
        font-size: 2.5rem;
        line-height: 30pt;
       margin-left:60px;
        
        
    }
    #get{
        margin-left:35px; 
        max-width: 90%; 
    }
    .view{
        margin-left:60px; 
    }
    #second{
        font-size: 2.5rem;
        text-align: center;
        max-width: 50%;
        
       
       
    }
    .intro  #desktop{
        width:2px;
    }
    .side{
        max-width: 100%;
        text-align: center;
        color:white;  
     padding-right: 100px;
     margin-left: -8px;
     margin-top:-300px;
    }
    #link a{
        background-color:rgb(38, 20, 80) ;
        border: 2px solid white;
        color: white;
    }
    .left2{
        display: none;
    }
    .left3{
        display:inline;
        margin-left: -100px;
    }
    .side3{
        display:inline;
    }
    .hr2{
        display: inline;
        width:200px;
       justify-content: center;
      
        
    }
    .flex{
      
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }
    .snappy{
        width:100%;
        
    }
    .affordable{
        width: 100%;
        padding-top: 40px;
    }
    .people{
        width:100%;
        padding-top:40px;
    }
    .works{
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        height:500px;
        max-width: 90%;
        text-align: center;
        
    }
    .svg{
        display:none;
       
    }
    .find{
        max-width:90%;
        margin-top: 100px;
        text-align: center;
        font-size: 2.5rem;
        margin-right: 40px;
    }
    .howorks{
        margin-left: -100px;
        text-align: center;
        margin-bottom:100px;
        top:80px;
    }   
    .howorks a{
        background-color:rgb(38, 20, 80) ;
    color:white;
    
    border: 2px solid white;
    }
   .svgmob{
       display:inline;
       margin-left:-220px;
       width:230px;
       top:0;
   }  
   .icons{
    flex-direction: column;
    line-height: 35pt;
    margin-left: -40px;
}
.insure{
    margin-left: 40%;
    margin-right: 40%;
}
.pinterest{
  margin-left: 35%;
  margin-right: 20%; 
}
.footer{
    flex-direction: column;
    align-items: center;
    max-width:100%;
    text-align: center;
    color: grey;
    margin-left: -20%;
}


.company{
    width: 80%;
    margin:0;
    padding-left: 0;
    padding-right: 0;
}
.help{
  width: 80%;
}
.contact{
  width: 80%;
}
.others{
  width: 80%;
}
.body{
  background-color:rgb(38, 20, 80);
  width:100%;
  height:600px;
  text-align:center;
  padding-top: 40px;
  
        }
.body a{
color: white;
text-decoration: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
line-height: 45pt;

}
.last{
  width:100%;
  height:300px;
  margin-bottom: -345px;
}
.body li{
  list-style-type: none;
 
}
.body a:hover{
  border: 2px solid white;
  padding: 10px 20px 10px 20px;
}
#desktop{
    display: none;
}
}