:root {
  --debug: 1px solid red;
  /* primary colors */
  --DarkViolet: hsl(256, 26%, 20%);
  --GrayishBlue: hsl(216, 30%, 68%);
  /* secondary colors */
  --Red: hsl(0, 87%, 67%);
  /* neutral colors */
  --VeryDarkViolet: hsl(270, 9%, 17%);
  --DarkGrayishViolet: hsl(273, 4%, 51%);
  --VeryLightGray: hsl(0, 0%, 98%);

  /* font families  */
  --globalFont: "Karla", sans-serif;
  --headerFont: "DM Serif Display", serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--globalFont);
  color: var(--VeryDarkViolet);
  font-size: 16px;
}

body,
* {
  transition: 0.3s;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--headerFont);
}
a {
  text-decoration: none;
}
input {
  border: none;
}

button {
  border-style: none;
  border: none;
  cursor: pointer;
}
input:focus,
button:focus {
  outline: none;
}

/* Desktop View */

/* header */
.header-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding-top: 20px;
  margin-bottom: 20px;
  position: fixed;
  background-color: #fff;
  padding-bottom: 10px;
  z-index: 1;
  top: 0;
  overflow: hidden;
}
.logo-container {
  flex: 1;
  margin-left: 5%;
  margin-right: 10%;
}
header nav {
  flex: 1;
  display: flex;
  margin-left: 10%;

  justify-content: center;
  align-items: center;
}
header nav a {
  color: var(--DarkGrayishViolet);
  font-weight: 400;
  display: block;
}
header nav button {
  background-color: var(--VeryLightGray);
  color: var(--DarkViolet);
  border: 2px solid var(--DarkViolet);
  padding: 10px 19px 10px 19px;
  border-radius: 2px;
  margin-bottom: 0;
}
header nav button:hover {
  background-color: var(--DarkViolet);
  color: var(--VeryLightGray);
}
.header-container .toggle-icon {
  display: none;
}
nav a:hover {
  color: var(--DarkViolet);
}
nav .nav-item {
  margin-right: 20px;
  text-align: center;
}
.mobile-nav {
  display: none;
}

/* main */
main {
  margin-top: 50px;
}
/* intro-section */
.welcome {
  display: flex;
  flex-direction: row;
  background-color: var(--DarkViolet);
  height: 100vh;
}
.welcome .left {
  color: #fff;
  flex: 1;
}

.welcome .left .intro-left-dsk {
  display: block;
  position: relative;
}
.intro-left-mobile {
  display: none;
}
.welcome .left .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 70px;
  margin-top: 25%;
}
.welcome .left .content .line {
  padding: 2px;
  background-color: var(--VeryLightGray);
  opacity: 0.4;
  width: 50%;
  margin-bottom: 20px;
}
.welcome .left .content h1 {
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 5px;
  line-height: 58px;
}
.welcome .left .content .btn-container {
  margin-right: 10px;
}
.welcome .left .content button {
  background-color: var(--DarkViolet);
  color: var(--VeryLightGray);
  border: 2px solid var(--VeryLightGray);
  padding: 10px 19px 10px 19px;
  border-radius: 2px;
}
.welcome .left .content button:hover {
  background-color: var(--VeryLightGray);
  color: var(--VeryDarkViolet);
}
.welcome .right {
  flex: 1;
  background: url("../images/bg-pattern-intro-right-desktop.svg") no-repeat;
  background-position: 270px -50px;
}
.welcome .right .img-desktop {
  position: relative;
  bottom: -150px;
  margin-right: 50px;
  scroll-behavior: initial;
}
.welcome .right .img-mobile {
  display: none;
}

/* about section */
.about {
  width: 85vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
}
.about .line {
  padding: 1px 0 0 0;
  background-color: var(--GrayishBlue);

  width: 20%;
  margin-bottom: 20px;
}

.about .header {
  font-size: 40px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 15px;
}

.about .content {
  display: flex;
  flex-direction: row;
}
.about .content .card {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.about .content .card p {
  color: var(--DarkGrayishViolet);
  font-weight: 400;
}
/* work section */
.work {
  width: 85vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  background: url("../images/bg-pattern-how-we-work-desktop.svg")
    var(--DarkViolet) no-repeat;
  background-position: right;
  padding: 30px 0 30px 50px;
}
.work .title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  color: var(--VeryLightGray);
  flex: 1;
}
.work .btn {
  flex: 1;
}
.work .btn button {
  background-color: var(--DarkViolet);
  color: var(--VeryLightGray);
  border: 2px solid var(--VeryLightGray);
  padding: 10px 19px 10px 19px;
  border-radius: 2px;
  float: right;
  margin-top: 15%;
  margin-right: 11%;
}
.work .btn button:hover {
  background-color: var(--VeryLightGray);
  color: var(--DarkViolet);
}
/* Footer */
footer {
  background: url("../images/bg-pattern-footer-desktop.svg")
    var(--VeryLightGray) no-repeat;

  margin-top: 10%;
  padding: 5% 12%;
}
footer .header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  overflow: hidden;
}
footer .header .logo {
  margin-top: 2%;
}
footer .header .logo img {
  display: block;
}
footer .header .social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2%;
  /* margin-bottom: 3%; */
}
footer .header .social-media a {
  display: block;
}
footer .header .social-media .item {
  margin-right: 15px;
}
footer .line {
  padding: 0.5px 0 0 0;
  background-color: var(--DarkGrayishViolet);
  margin-top: 2%;
  margin-bottom: 2%;
}
footer .content {
  display: flex;
  flex-direction: row;
}
footer .content .features {
  flex: 1;
  display: flex;
  flex-direction: column;

  padding: 0;
}
footer .content .features nav {
  display: flex;
  flex-direction: column;
  text-align: left;
}
footer .content .features nav a {
  display: block;
  color: var(--DarkViolet);
  font-size: 15px;
  font-weight: 400;
}
footer .content .features nav a:hover,
footer .social-media a:hover {
  color: var(--VeryDarkViolet);
}
footer .content .features h5 {
  font-size: 13px;
  color: var(--DarkGrayishViolet);
}
/* .attribution */

.attribution {
  font-size: 11px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--GrayishViolet);
  font-weight: 500;
  padding-top: 30px;
  background-color: var(--VeryLightGray);
}
.attribution a {
  color: var(--VeryDarkViolet);
  cursor: pointer;
}
.attribution a:hover {
  color: var(--Cyan);
}

/* Mobile view */
@media only screen and (max-width: 750px) {
  .header-container {
    /* top: 0; */
    width: 100vw;
  }

  header nav {
    display: none;
  }
  .header-container .toggle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    padding: 1%;
    border: 1px solid var(--DarkViolet);
  }
  .mobile-nav {
    display: none;
    justify-content: center;
    height: 80vh;
    background: url("../images/bg-pattern-mobile-nav.svg") var(--VeryDarkViolet)
      no-repeat;
    color: #fff;
    margin-top: 15%;
    padding-top: 10%;
    background-position: bottom;
  }
  .mobile-nav nav {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .mobile-nav nav .nav-item {
    margin-bottom: 10%;
  }
  .mobile-nav button {
    background-color: var(--VeryDarkViolet);
    color: var(--VeryLightGray);
    border: 2px solid var(--VeryLightGray);
    padding: 10px 19px 10px 19px;
    border-radius: 2px;
    width: 100%;
    font-size: 20px;
  }
  .mobile-nav button:hover {
    background-color: var(--VeryLightGray);
    color: var(--VeryDarkViolet);
  }
  .mobile-nav nav a {
    display: block;
    color: #fff;
    font-size: 25px;
    margin-bottom: 9%;
    font-weight: 400;
  }
  .welcome {
    flex-direction: column-reverse;
    height: auto;
    background-color: #fff;
  }
  .welcome .left .content h1 {
    font-size: 40px;
    line-height: 30px;
  }
  .welcome .left {
    padding: 5%;
    overflow: hidden;
    /* height: 70vh; */
    background-color: var(--DarkViolet);
  }
  .welcome .left .intro-left-dsk {
    display: none;
  }
  .intro-left-mobile {
    display: none;
    position: relative;
    float: right;
    overflow: hidden;
    top: -100px;
    z-index: 1;
    outline: var(--debug);
  }
  .welcome .left .content {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
  }
  .welcome .left .content .btn-container {
    margin: auto;
    padding-bottom: 5%;
  }
  .welcome .right {
    background: url("../images/bg-pattern-intro-left-mobile.svg") no-repeat
      var(--DarkViolet);
    background-position: left;
    flex: 1;
    width: 100vw;
  }
  .welcome .right .img-desktop {
    display: none;
  }
  .welcome .right .img-mobile {
    display: block;
  }
  .welcome .right .img-mobile img {
    object-fit: contain;
    width: 100%;
  }
  .about,
  .about .content .card,
  .work {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .about .content {
    flex-direction: column;
  }
  .about .header {
    font-size: 25px;
    line-height: 40px;
  }
  .work {
    padding: 3%;
    flex-direction: column;
    background: url("../images/bg-pattern-how-we-work-mobile.svg")
      var(--DarkViolet) no-repeat;
    background-position: right;
  }
  .work .title {
    font-size: 20px;
    line-height: auto;
  }
  .work .btn {
    margin-bottom: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .work .btn button {
    width: 100%;
    align-self: center;
  }
  footer {
    background: url("../images/bg-pattern-footer-mobile.svg")
      var(--VeryLightGray) no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .header {
    flex-direction: column;
  }
  footer .header .logo {
    margin-bottom: 2%;
  }
  footer .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* margin-bottom: 3%; */
  }
  footer .header .social-media .item {
    margin: auto;
  }
  footer .content .features {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer .content .features nav {
    text-align: center;
  }
  footer .line {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 2%;
  }
}
