:root {
  --debug: 1px solid red;
  /* primary colors */
  --DarkViolet: hsl(256, 26%, 20%);
  --GrayishBlue: hsl(216, 30%, 68%);
  /* secondary colors */
  --Red: hsl(0, 87%, 67%);
  /* neutral colors */
  --VeryDarkViolet: hsl(270, 9%, 17%);
  --DarkGrayishViolet: hsl(273, 4%, 51%);
  --VeryLightGray: hsl(0, 0%, 98%);

  /* font families  */
  --globalFont: "Karla", sans-serif;
  --headerFont: "DM Serif Display", serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--globalFont);
  color: var(--VeryDarkViolet);
  font-size: 16px;
}

body,
* {
  transition: 0.3s;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--headerFont);
}
a {
  text-decoration: none;
}
input {
  border: none;
}

button {
  border-style: none;
  border: none;
  cursor: pointer;
}
input:focus,
button:focus {
  outline: none;
}

/* Desktop View */

/* header */
.header-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding-top: 20px;
  margin-bottom: 20px;
  position: fixed;
  background-color: #fff;
  padding-bottom: 10px;
  z-index: 1;
  top: 0;
  overflow: hidden;
}
.logo-container {
  flex: 1;
  margin-left: 5%;
  margin-right: 10%;
}
nav {
  flex: 1;
  display: flex;
  margin-left: 10%;

  justify-content: center;
  align-items: center;
}
nav a {
  color: var(--DarkGrayishViolet);
  font-weight: 400;
  display: block;
}
nav button {
  background-color: var(--VeryLightGray);
  color: var(--DarkViolet);
  border: 2px solid var(--DarkViolet);
  padding: 10px 19px 10px 19px;
  border-radius: 2px;
  margin-bottom: 0;
}
nav button:hover {
  background-color: var(--DarkViolet);
  color: var(--VeryLightGray);
}
.header-container .toggle-icon {
  display: none;
}
nav a:hover {
  color: var(--DarkViolet);
}
nav .nav-item {
  margin-right: 20px;
  text-align: center;
}

/* main */
main {
  margin-top: 50px;
}
/* intro-section */
.welcome {
  display: flex;
  flex-direction: row;
  background-color: var(--DarkViolet);
  height: 100vh;
}
.welcome .left {
  color: #fff;
  flex: 1;
}

.welcome .left .intro-left-dsk {
  display: block;
  position: relative;
}
.welcome .left .intro-left-mobile {
  display: none;
}
.welcome .left .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 70px;
  margin-top: 25%;
}
.welcome .left .content .line {
  padding: 2px;
  background-color: var(--VeryLightGray);
  opacity: 0.4;
  width: 50%;
  margin-bottom: 20px;
}
.welcome .left .content h1 {
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 5px;
  line-height: 58px;
}
.welcome .left .content .btn-container {
  margin-right: 10px;
}
.welcome .left .content button {
  background-color: var(--DarkViolet);
  color: var(--VeryLightGray);
  border: 2px solid var(--VeryLightGray);
  padding: 10px 19px 10px 19px;
  border-radius: 2px;
}
.welcome .left .content button:hover {
  background-color: var(--VeryLightGray);
  color: var(--VeryDarkViolet);
}
.welcome .right {
  flex: 1;
  background: url("../images/bg-pattern-intro-right-desktop.svg") no-repeat;
  background-position: 270px -50px;
}
.welcome .right .img-desktop {
  position: relative;
  bottom: -150px;
  margin-right: 50px;
  scroll-behavior: initial;
}
.welcome .right .img-mobile {
  display: none;
}

/* about section */
.about {
  width: 85vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
}
.about .line {
  padding: 1px 0 0 0;
  background-color: var(--GrayishBlue);

  width: 20%;
  margin-bottom: 20px;
}

.about .header {
  font-size: 40px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 15px;
}

.about .content {
  display: flex;
  flex-direction: row;
}
.about .content .card {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.about .content .card p {
  color: var(--DarkGrayishViolet);
  font-weight: 400;
}
/* Footer */
footer {
  background: url("../images/bg-pattern-footer-desktop.svg")
    var(--VeryLightGray) no-repeat;

  display: flex;
  flex-direction: column;
}
/* .attribution */

.attribution {
  font-size: 11px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--GrayishViolet);
  font-weight: 500;
  padding-top: 30px;
  background-color: var(--VeryLightGray);
}
.attribution a {
  color: var(--VeryDarkViolet);
  cursor: pointer;
}
.attribution a:hover {
  color: var(--Cyan);
}

/* Mobile view */
@media only screen and (max-width: 750px) {
}
